<%- include('header') -%>
<div class="text-center center-div" id="baseLogin">
    <div class="container w-45 border py-5">
        <div class="title pb-5">
            <h1 class="heading-style">Prior Authorization Submit Response </h1>
            <span>Please find the care request(s) Id</span>
            <hr>

            <% if (response.success) { %>
                <table border="1">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Object Name</th>
                        <th>Record Id</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% response.response.result.forEach((item, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= item.objectType%></td>
                                <td><%= item.id%></td> 
                            </tr>
                            <%})  %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>Something went wrong. Please check inputs and try again</p>
                    <% } %>
        </div>
    </div>
</div>
<%- include('footer') -%> 
 