<div class="container mt-5">
    <label for="<%= elementId %>"><%= elementLabel %>:</label>
    <input type="text" id="<%= elementId %>" class="form-control" placeholder="Start typing...">
    <ul id="<%= listId %>" class="list-group mt-2"></ul>
</div>

<script>
    $(document).ready(function() {
        
        $('#<%= elementId %>').on('input', async function() {
            const query = $(this).val().toLowerCase();
            const $suggestionBox = $('#<%= listId %>');
            $suggestionBox.empty();

            if (query && query.length >=2) {

                const param = {
                    query : query,
                    elementSourceMethod : '<%= elementSourceMethod %>',
                    entityName : '<%= entityName %>',
                    fields : '<%= fields %>'
                }

                const filteredSuggestions = await fetchData(param);

                
                filteredSuggestions.forEach(item => {
                    const $li = $('<li>').addClass('list-group-item').text(item);
                    $li.on('click', function() {
                        $('#<%= elementId %>').val(item);
                        $suggestionBox.empty();
                    });
                    $suggestionBox.append($li);
                });
            }
        });
    });

  
</script>
